.actor {
  display: flex;
  background-color: rgb(233, 233, 233);
  max-width: 420px;
  border-radius: 10px;
  padding: 20px;

  &__img-wrapper {
    min-width: 110px;
    max-width: 110px;
    margin-right: 20px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__info-name {
    font-size: 20px;
    font-weight: bold;
  }

  &__info-profession {
    font-size: 14px;
    color: #a29e9e;
    margin-top: -10px;
  }
  &__btn-wrapper {
    color: rgb(231, 231, 231);
  }
  &__info-films {
    font-size: 13px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }

  &__info-films-best {
    font-weight: bold;
  }

  &__info-films-item {
    // border-right: 1px solid #fd2770;
  }
}
