@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgb(44, 51, 51),  rgb(10, 12, 12));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
